.list > li{
display: inline;
margin: 20px;
list-style-type: none;
border: 1px black; 
border-style: double;
background-color: rgb(240, 223, 248);
padding: 0px;
}
.mainlist{
    padding-left: 700px;
    padding-right: 80px;
    background-color: rgb(131, 122, 131);
    position: fixed;
   /* overflow: auto;*/
    margin: 0px;
}
li a.about{
    background-color: rgb(12, 37, 182);
    color: white;
}
li a:hover:not(.active) {
    background-color:indigo;
    color: white;
}

.nbar{
    margin: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}
